<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
	<!-- <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div> -->

	<link href='https://fonts.googleapis.com/css?family=Alegreya Sans SC' rel='stylesheet'>
	<style>
		nav {
			font-family: 'Alegreya Sans SC';
			font-size: 18px;
		}
	</style>
	<nav class="sidebar-nav">
		<!-- <div style="font-family:'Amiri', serif; font-size: 18px" > -->
		<a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/"><i class="fa fa-home"
			 style="font-size:20px"></i>&nbsp;&nbsp;Home</a>
		<a class="sidebar-nav-item" href="../Publications/index.html"><i class="fa fa-book" style="font-size:20px"></i>&nbsp;&nbsp;Publications</a>
		<a class="sidebar-nav-item" href="../Projects/index.html"><i class="fa fa-rocket" style="font-size:20px"></i>&nbsp;&nbsp;Projects</a>
		<a class="sidebar-nav-item" href="../Teaching/index.html"><i class="fa fa-exchange" style="font-size:18px"></i>&nbsp;&nbsp;Teaching</a>
		<a class="sidebar-nav-item" href="../Experience/index.html"><i class="fa fa-hourglass-end" style="font-size:20px"></i>&nbsp;&nbsp;Experience</a>
		<div class="sidebar-item">
		<p>Accounts</p>
		</div>
		<a class="sidebar-nav-item" href="https://scholar.google.com/citations?user=fQlfnOMAAAAJ&hl=en"><i class="ai ai-google-scholar ai-1.5x"></i>&nbsp;&nbsp;Google Scholar</a>
		<a class="sidebar-nav-item" href="https://github.com/AftabHussain"><i class="fa fa-desktop" style="font-size:18px"></i>&nbsp;&nbsp;GitHub</a>
		<a class="sidebar-nav-item" href="https://gitlab.flux.utah.edu/aftabhussain"><i class="fa fa-flask" style="font-size:20px"></i>&nbsp;&nbsp;GitLab</a>
		<a class="sidebar-nav-item" href="https://www.linkedin.com/in/hussainaftab"><i class="fa fa-linkedin" style="font-size:20px"></i>&nbsp;&nbsp;LinkedIn</a>		


		{% comment %}
		The code below dynamically generates a sidebar nav of pages with
		`layout: page` in the front-matter. See readme for usage.
		{% endcomment %}

		<!-- {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
	  {% if node.title != null%}
	   {% if node.title != "Credits" %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
        {% endif %}
	   {% endif %}  
	  {% endif %}
	{% endfor %} -->

		<!-- The code below is used for manually entered links  -->

		<!-- <span style='cursor:pointer;' onclick="javascript:var hypothesis = document.createElement('script');
      hypothesis.setAttribute('src','https://hypothes.is/embed.js');
      document.head.appendChild(hypothesis);"><a class="sidebar-nav-item">Annotate me</a></span> -->

		<!--     <a class="sidebar-nav-item" href="https://via.hypothes.is/{{ site.url }}{{ site.baseurl }}{{page.url}}/" data-proofer-ignore>Annotate me</a> -->
		<!--  -->
		<!-- <script src="https://hypothes.is/embed.js" async></script> -->

		<!-- <a class="sidebar-nav-item" href="https://github.com/minicomp/ed" target="_blank">GitHub project</a> -->
	</nav>

	<!-- <div class="sidebar-item">
    <p>Currently v1.0 Distributed with an MIT license.</p>
  </div> -->
</div>