---
sitemap: false
---

/*
* Common Variables
*
* Feel free to change!
*
*/

/* FONTS */

@import url(//fonts.googleapis.com/css?family=Open+Sans);
//$main-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
//$main-font: "Arial", "Helvetica", "Sans-serif";
//$main-font: "PT Sans", Helvetica, Arial, sans-serif;
$main-font: 'Open Sans', sans-serif;
$heading-font: sans-serif;
$regular-font-size: 18px;

/* 
* COLOR.
* 
* Make sure to leave color-scheme in config file empty for granular control
* 
*/

$text-color: #454545;
$heading-color: #404040;
//$link-color: #841212;
$link-color: #3F5E8C;


@import "ed";
@import "syntax";





